body {
    user-select: none;
}

input {
    user-select: unset !important;
    padding-left: 2px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    width: 500px;
    outline: none;
	margin-bottom: 10px;
}

#btn {
	margin: 0 10px 10px 0;
    float: left;
    background-color: #a3b3eb;
    padding-top: 7px;
    text-align: center;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

#dv-answ {
    padding-left: 7px;
    padding-top: 7px;
    float: left;
    border-radius: 5px;
    background-color: #ddd;
    width: 405px;
    height: 25px;
}
